.App {
  text-align: center;
}

.App-logo {
  height: 10rem;
}

.App-header {
  background-color: #000;
  height: 10rem;
  padding: 0rem;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
