body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'PT Sans', 'Titillium Web', sans-serif !important;
}
.heading {
  font-weight: 500;
}
.subheading {
  font-weight: 200;
}
.search {
  padding: 2rem;
  width: 100%;
}
.formControl {
  width: 25rem;
  min-width: 25rem;
}
.flag {
  position: relative;
  bottom: -0.5rem;
  border: 0.05rem solid #dedede;
  border-radius: 0.2rem;
}